<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avocado1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecommendedTvShows"
            android:label="סדרות מומלצות עבורך"/>
        <activity android:name=".RecommendedMovies"
            android:label="סרטים מומלצים עבורך"/>
        <activity android:name=".SearchMoviesActivity"
            android:label="עיין בסרטים"/>
        <activity android:name=".FavoriteMovies"/>
        <activity android:name=".TvShowDetailActivity"
            android:label="עיין בסדרות"/>
        <activity android:name=".AccountPage"
            android:label="החשבון שלי"/>
        <activity android:name=".MovieDetailActivity"
            android:label="עיין בסרטים"/>
        <activity android:name=".CalendarActivity"
            android:label="סנכרן ללוח השנה"/>
        <activity android:name=".ChooseGenresPage"
            android:label="ז'אנרים"/>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Calendar_API_KEY" />

        <activity android:name=".BaseActivity" />


        <activity android:name=".HomePage" />
        <activity android:name=".EventDialog" />
        <activity android:name=".EventListAdapter"/>

        <activity
            android:name=".RegisterPage"
            android:parentActivityName=".LoginPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPage" />
        </activity>
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>